
<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">A melhor escola está aqui</p>
  <a href="/alunos/add" class="btn btn-dark btn-lg">Cadastrar Estudantes</a>
  <a href="/profissionais/add" class="btn btn-dark btn-lg">Cadastrar Profissionais</a>
</div>